@font-face {
  font-family: papyrus; /* set name */
  src: url(papyrus.ttf); /* url of the font */
}

body {
    background-color: coral;
}

form {
    @media (max-width: 500px) {
        width: 200px;
        height: 200px;
    }
}

h1{
    color:blue;
    font-size: 300%;
    font-family: papyrus;
}

main {
    margin: 0;
    padding: 5px;
    background-color: rgb(96, 42, 133);
    border-radius: 1%;
    border: 1px solid black;
    box-shadow: 4px 4px 4px 4px rgba(40, 43, 30, 0.562);
}
.menu-link {
    margin-right: 20px;
    text-align: right;
    color: #e451f1;
    background-color: rgb(9, 9, 12);
    text-decoration: none;
    font-size: 150%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20%;
    width: 40%;
}

.menu-link:hover {
    color: indigo;
    background-color: rgb(224, 142, 213);
    font-size: 170%;
    width: 50%;
}

nav{
    border-bottom: 2px solid black;
    padding-bottom: 12px;
    margin-bottom: 2%;
}

li{
    color: blue;
    background-color: rgb(212, 255, 95);
    border: 2px solid rgb(255, 129, 90);
    border-radius: 20%;
    font-size: 150%;
    max-width: 7%;
    display: table-cell;
    vertical-align: inherit;
    @media (max-width: 500px) {
    width: 500px;
    height: 500px;
    }
}
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  background-color: #2196F3;
  padding: 5px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.menu {
  grid-area: menu;
}
.container > div.content {
  grid-area: content;
}
.container > div.footer {
  grid-area: footer;
}
p{
    font-size:larger;
    font-family: cursive;
    color:rgb(224, 77, 102);
}
img{
    width: 20%;
    border-radius: 8px;
    @media (max-width: 500px) {
    width: 200px;
    height: 200px;
    }
}
div.divisoria {
    margin: 1;
    padding: 6px;
    background-color: rgb(221, 238, 144);
    border-radius: 1%;
    border: 1px solid red;
    max-width: 30%;

}

div.Cent {
    text-align: center;
}

header {
    display: flex;
    vertical-align: middle;
    justify-content: right;
    align-items: center;
    margin-right: 4%;
}

.Contatos {
    text-align: center;
    color: #4f4f5e;
    background-color: #9e9a8f;
    font-size: 42px;
    width: 40%;
    padding: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border: 1px solid black;
}

.box-form {
    display: flex;
}

.img-form {
    display: inline;
}

.formulário button {
    margin-right: 50px;
}

.form-container {
    background: transparent;
}

.form {
    background-color: rgb(132, 248, 248);
    text-align: center;
    color: rgb(19, 31, 31);
    border: 1px solid rgb(233, 248, 239);
    padding: 2rem;
    justify-content: center;
    display: block;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 4px 4px rgba(40, 43, 30, 0.562);
}
.button {
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30%;
}

.button1, button.submit {
    background-color: rgb(156, 156, 138);
    color: rgb(3, 3, 34);
    border: 2px solid rgb(90, 255, 57);
    border-radius: 30%;
}

.button1:hover {
    background-color: rgb(231, 231, 212);
    color: rgb(72, 134, 163);
    border-radius: 30%;
}